<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Design Solutions">
    <meta name="description" content="Follow up of a website design tutorial">
    <title>Open Hours | The Little Taco Shop</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../simple.css">
    <link rel="stylesheet" href="../../../index.css">
    <link rel="stylesheet" href="./hours.css">
</head>

<body>
    <header>
        <h1>Open Hours</h1>
        <nav class="lts__navbar">
            <ul>
                <li>
                    <a href="../../../Public/index.html">Home</a>
                </li>
                <li>
                    <a href="../../../Public/index.html#about">About <abbr title="The Little Taco Shop"></abbr>LTS</a>
                </li>
                <li>
                    <a href="../../../Public/index.html#menu">Menu</a>
                <li>
                    <a href="../contact/contact.html">Contact Us</a>
                </li>
            </ul>
        </nav>
        <figure>
            <img src="../../static/taco_tray__423-324.png" alt="Tasty taco image placeholder" title="Taco Heven"
                width="423" height="324">
            <figcaption>
                Tasty taco image placeholder
            </figcaption>
        </figure>
    </header>
    <main>
        <p>We are open 7 days a week</p>
        <dl>
            <dt>Sunday - Thursday</dt>
            <dd>11.00am - 9.00pm</dd>
            <dt>Friday - Saturday</dt>
            <dd>11.00am - 11.00pm</dd>
        </dl>
        <p>
            <a href="#">Back to top</a>
        </p>
    </main>
    <footer>
        <p>Copyright &copy; The Little Taco Shop</p>
    </footer>

    <script src="../../../index.js"></script>
</body>

</html>